    <footer class="footer">
        © 2026 Kibaiz — All Rights Reserved  <a href="https://www.facebook.com/rasoul.jah.1" class="text-primary" target="_blank" >Themes By Helder Camara</a>
    </footer>